*,*::before,::after{
  box-sizing: border-box;
}
body{
  margin: 0;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkUcvra6sJT1ROd0KFv4c8U-KNI1Ldlq4kUGmAEbzSiwStGaI9gWOQ872ZtwwsQc4NiIc&usqp=CAU');
  /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkUcvra6sJT1ROd0KFv4c8U-KNI1Ldlq4kUGmAEbzSiwStGaI9gWOQ872ZtwwsQc4NiIc&usqp=CAU'); */
  /* background: linear-gradient(to right, #8b959b,#251f1f); */
}
.calculetor-grid{
  display: grid;
  margin-top: 2rem;
  border-radius: 5px;
  justify-content: center;
  grid-template-columns: repeat(4,6rem);
  grid-template-rows: minmax(7rem,auto) repeat(5,6rem)
}
.calculetor-grid > button{
  /* border: 1px solid blueviolet; */
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);

}
.calculetor-grid > button:hover,
.calculetor-grid > button:focus{
  background-color: rgba(255, 255, 255, .9);

}

.span-two{
  grid-column: span 2;
}
.output{
  grid-column:1/-1 ;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0.75rem; 
  word-wrap: break-word;
  word-break: break-all;
}
.output .previous-operand{
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;

}
.output .current-operand{
  color: white;
  font-size: 2.5rem;

  

}